[solverinfo]

# directory where files are stored
workdir=work

# name of file logging entries are written
logging_fname=newton.log

# name of file containing initial iterate
init_iterate_fname=iterate_00.nc

[caseinfo]
