[solverinfo]

# directory where files are stored
workdir=work

# name of file logging entries are written
logging_fname=newton.log
logging_level=INFO

[modelinfo]

# names of tracer moduels that solver is being applied to
tracer_module_names=x,y

# name of file containing initial iterate
init_iterate_fname=iterate_00.nc
